# Tutorial 3 - Data Transformation using ColumnTransformer and Pipeline

*Please contact Binh Nguyen (binh.p.nguyen@vuw.ac.nz) if you have any questions regarding this tutorial.*

We will use the Ames Iowa Housing Dataset which can be found on Kaggle (https://www.kaggle.com/c/house-prices-advanced-regression-techniques/overview). More details about the dataset can be found here: http://jse.amstat.org/v19n3/decock.pdf

The dataset contains residential property sales data from Ames, Iowa from 2006 to 2010. There are 79 features/attributes (columns) of data on 1,460 properties, and each property associates with its final sale price.

With this dataset, the machine learning problem could be *predicting the sale price* for each property using its features.

Instead of using the full dataset with all 79 features, we focus on a subset of only 10 of them. Using this smaller subset allows us to concentrate on machine learning techniques without being overloaded with data.

First, let's look at the data.

In [1]:
import numpy as np
import pandas as pd

np.random.seed = 42

housing = pd.read_csv('ames_housing_sample.csv')
housing.head()

,Neighborhood,Exterior1st,YearBuilt,LotFrontage,GrLivArea,GarageArea,BedroomAbvGr,FullBath,OverallQual,HeatingQC,SalePrice
0,CollgCr,VinylSd,2003,65.0,1710,548,3,2,7,Ex,208500
1,Veenker,MetalSd,1976,80.0,1262,460,3,2,6,Ex,181500
2,CollgCr,VinylSd,2001,68.0,1786,608,3,2,7,Ex,223500
3,Crawfor,Wd Sdng,1915,60.0,1717,642,3,1,7,Gd,140000
4,NoRidge,VinylSd,2000,84.0,2198,836,4,2,8,Ex,250000

In [2]:
housing.shape

(1460, 11)

There is a text file storing descriptions of each of the columns in the dataset. Let's look at it.

In [3]:
print(open('ames_housing_sample_info.txt').read())

Neighborhood: Physical locations within Ames city limits

       Blmngtn	Bloomington Heights
       Blueste	Bluestem
       BrDale	Briardale
       BrkSide	Brookside
       ClearCr	Clear Creek
       CollgCr	College Creek
       Crawfor	Crawford
       Edwards	Edwards
       Gilbert	Gilbert
       IDOTRR	Iowa DOT and Rail Road
       MeadowV	Meadow Village
       Mitchel	Mitchell
       Names	North Ames
       NoRidge	Northridge
       NPkVill	Northpark Villa
       NridgHt	Northridge Heights
       NWAmes	Northwest Ames
       OldTown	Old Town
       SWISU	South & West of Iowa State University
       Sawyer	Sawyer
       SawyerW	Sawyer West
       Somerst	Somerset
       StoneBr	Stone Brook
       Timber	Timberland
       Veenker	Veenker

Exterior1st: Exterior covering on house

       AsbShng	Asbestos Shingles
       AsphShn	Asphalt Shingles
       BrkComm	Brick Common
       BrkFace	Brick Face
       CBlock	Cinder Block
       CemntBd	Cement Board
       HdBoard	Hard Board
       ImStucc	Imitation Stucco
       MetalSd	Metal Siding
       Other	Other
       Plywood	Plywood
       PreCast	PreCast
       Stone	Stone
       Stucco	Stucco
       VinylSd	Vinyl Siding
       Wd Sdng	Wood Siding
       WdShing	Wood Shingles

YearBuilt: Original construction date

LotFrontage: Linear feet of street connected to property

GrLivArea: Above grade (ground) living area square feet

GarageArea: Size of garage in square feet

BedroomAbvGr: Bedrooms above grade (does NOT include basement bedrooms)

FullBath: Full bathrooms above grade

OverallQual: Rates the overall material and finish of the house

       10	Very Excellent
       9	Excellent
       8	Very Good
       7	Good
       6	Above Average
       5	Average
       4	Below Average
       3	Fair
       2	Poor
       1	Very Poor

HeatingQC: Heating quality and condition

       Ex	Excellent
       Gd	Good
       TA	Average/Typical
       Fa	Fair
       Po	Poor

SalePrice: Final sale price in dollars

In [4]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Neighborhood  1460 non-null   object
 1   Exterior1st   1460 non-null   object
 2   YearBuilt     1460 non-null   int64
 3   LotFrontage   1201 non-null   float64
 4   GrLivArea     1460 non-null   int64
 5   GarageArea    1460 non-null   int64
 6   BedroomAbvGr  1460 non-null   int64
 7   FullBath      1460 non-null   int64
 8   OverallQual   1460 non-null   int64
 9   HeatingQC     1460 non-null   object
 10  SalePrice     1460 non-null   int64
dtypes: float64(1), int64(7), object(3)
memory usage: 125.6+ KB

In [5]:
housing.describe()

,YearBuilt,LotFrontage,GrLivArea,GarageArea,BedroomAbvGr,FullBath,OverallQual,SalePrice
count,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,1971.267808,70.049958,1515.463699,472.980137,2.866438,1.565068,6.099315,180921.195890
std,30.202904,24.284752,525.480383,213.804841,0.815778,0.550916,1.382997,79442.502883
min,1872.000000,21.000000,334.000000,0.000000,0.000000,0.000000,1.000000,34900.000000
25%,1954.000000,59.000000,1129.500000,334.500000,2.000000,1.000000,5.000000,129975.000000
50%,1973.000000,69.000000,1464.000000,480.000000,3.000000,2.000000,6.000000,163000.000000
75%,2000.000000,80.000000,1776.750000,576.000000,3.000000,2.000000,7.000000,214000.000000
max,2010.000000,313.000000,5642.000000,1418.000000,8.000000,3.000000,10.000000,755000.000000

As you can see, our dataset contains a mixture of categorical and numerical columns. It also has missing data, the numerical attributes have different ranges, and there are continuous, nominal, and ordinal data; each of them needs their own transformation. In order to **apply different transformations to different columns of data**, we will need to use the `ColumnTransformer` (https://scikit-learn.org/stable/modules/generated/sklearn.compose.ColumnTransformer.html).

Let's split our data to a training set (80%) and a test set (20%):

In [6]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(housing, test_size=0.2, random_state=42)

Then separate the *predictors* and the *labels* since we don't necessarily want to apply the same transformations to the predictors and the target values:

In [7]:
X_train = train_set.drop("SalePrice", axis=1) # drop labels for training set
y_train = train_set["SalePrice"].copy()

Do the same thing for the test set:

In [8]:
X_test = test_set.drop("SalePrice", axis=1)
y_test = test_set["SalePrice"].copy()

Now, we import necessary modules for data transformation:

In [ ]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, MinMaxScaler, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

We can apply any number of transformations to a distinct set of columns by using a **pipeline** within the `ColumnTransformer`. Since column `LotFrontage` has missing values, for continous columns, let's use `SimpleImputer` with `strategy='mean'` to handle missing values, then apply `MinMaxScaler` to normalize data to [0, 1]. So the pipeline for continous columns has 2 steps (i.e., 2 transformers): `SimpleImputer` and `MinMaxScaler`. For ordinal columns and norminal columns, we use only one transformer: `OrdinalEncoder` and `OneHotEncoder`, respectively, for each of their pipelines.

In [10]:
# Continuous pipeline
con_impute = SimpleImputer(strategy='mean')
con_normalize = MinMaxScaler()
con_steps = [('imp', con_impute), ('norm', con_normalize)]
con_pipe = Pipeline(con_steps)

# Nominal pipeline
nom_onehot = OneHotEncoder(sparse=False, handle_unknown='ignore')
nom_steps = [('onehot', nom_onehot)]
nom_pipe = Pipeline(nom_steps)

# Ordinal pipeline
order = [['Po', 'Fa', 'TA', 'Gd', 'Ex']]
ord_encode = OrdinalEncoder(order)
ord_steps = [('encode', ord_encode)]
ord_pipe = Pipeline(ord_steps)

# ColumnTransformer setup
con_cols = ['YearBuilt', 'LotFrontage', 'GrLivArea', 'GarageArea', 'BedroomAbvGr', 'FullBath', 'OverallQual']
nom_cols = ['Neighborhood', 'Exterior1st']
ord_cols = ['HeatingQC']

transformers = [('con', con_pipe, con_cols),
                ('nom', nom_pipe, nom_cols),
                ('ord', ord_pipe, ord_cols)]
col_transform = ColumnTransformer(transformers)

Now, let's transform the training set then look at the first sample:

In [11]:
# Fit the column transformer then transform the training data
X_train_transformed = col_transform.fit_transform(X_train)
X_train_transformed[:1]

array([[0.61594203, 0.16780822, 0.18462698, 0.20733427, 0.375     ,
        0.33333333, 0.44444444, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 1.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        1.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 2.        ]])

Apply the trained column transformer on the test set:

In [12]:
# Transform the test data using the column transformer which has just been trained
X_test_transformed = col_transform.transform(X_test)
X_test_transformed[:1]

array([[0.65942029, 0.16780822, 0.13828184, 0.18617772, 0.375     ,
        0.33333333, 0.55555556, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 1.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 2.        ]])

## Your turn

In practice, missing data may appear in any column in future data. So it is practical to impute missing values at the beginning of each column tranformer. Please revise the code to apply the following transformations for 3 different types of columns.
+ Continous columns: use `SimpleImputer` with `strategy='mean'` to handle missing values, then apply `MinMaxScaler` to normalize data to [0, 1].
+ Ordinal columns: use `SimpleImputer` with `strategy='most_frequent'` to handle missing values, and apply `OrdinalEncoder` to convert each value to a number, then use `MinMaxScaler` for data normalization.
+ Norminal columns: use `SimpleImputer` with `strategy='most_frequent'` to handle missing values, and apply `OneHotEncoder` to convert each value to a numerical vector. Data normalization is not needed (why?).

Please note that data normalization may not be helpful in this regression problem. However, in this tutorial, including data normalization in each pipeline is good for your practice.

**Question 1. Revised code:**

**Question 2. Modelling:**

After applying separate transformations to separate groups of columns, we can pass this result to a machine learning model. To connect the `ColumnTransformer` to the machine learning estimator, we also use a **pipeline**.

Write code to create another pipeline containing 2 steps: the column transformer that we have just developed, and a linear regressor (https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html). Then fit the pipeline using our training data and test it on the test set. Report the RMSE value for each case.

**Question 3. Another model:**

Replace the linear regressor by a random forest regressor (https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html). Redo the steps in Question 2 and report the results.

You may want to make further changes on the column transformer and the final pipeline in order to improve the prediction results.

*At this moment, although we have already used the Linear Regressor in some examples, we have not discussed it and also the Random Forest Regressor in detail. So let's consider them "black boxes" in a machine learning pipeline. We will discuss those algorithms in incoming lectures.*